<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmopay.admincp.dao.BillingsDao">
    <resultMap id="BaseResultMap" type="com.xmopay.admincp.dto.BillingsDto">
        <id column="BID" jdbcType="BIGINT" property="bid" />
        <result column="ORDER_SN" jdbcType="VARCHAR" property="orderSn" />
        <result column="BILLING_SN" jdbcType="VARCHAR" property="billingSn" />
        <result column="BILL_TYPE" jdbcType="INTEGER" property="billType" />
        <result column="PARTNER_ID" jdbcType="VARCHAR" property="partnerId" />
        <result column="PARTNER_NAME" jdbcType="VARCHAR" property="partnerName" />
        <result column="TRADE_AMOUNT" jdbcType="DECIMAL" property="tradeAmount" />
        <result column="TRADE_FEE" jdbcType="DECIMAL" property="tradeFee" />
        <result column="PAYMENT" jdbcType="DECIMAL" property="payment" />
        <result column="ACCOUNT_AMOUNT" jdbcType="DECIMAL" property="accountAmount" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark" />
        <result column="TRADE_TIME" jdbcType="TIMESTAMP" property="tradeTime" />
        <result column="PAY_STATUS" jdbcType="INTEGER" property="payStatus" />
        <result column="PAY_TYPE" jdbcType="INTEGER" property="payType" />
        <result column="BANK_CODE" jdbcType="INTEGER" property="bankCode" />
    </resultMap>
    <sql id="Base_Column_List">
    BID, ORDER_SN, BILLING_SN, BILL_TYPE, PARTNER_ID, PARTNER_NAME, TRADE_AMOUNT,
    TRADE_FEE, PAYMENT, ACCOUNT_AMOUNT, REMARK, TRADE_TIME, PAY_STATUS, PAY_TYPE, BANK_CODE
  </sql>

    <select id="getBillingsList" parameterType="com.xmopay.admincp.dto.BillingsDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from wp_billings
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="bid != null ">                           and BID           =  #{bid}             </if>
            <if test="orderSn != null and orderSn != ''">      and ORDER_SN      =  #{orderSn}         </if>
            <if test="billingSn != null and billingSn != ''">  and BILLING_SN    =  #{billingSn}       </if>
            <if test="partnerId != null and partnerId != ''">  and PARTNER_ID    =  #{partnerId}       </if>
            <if test="billType != null  ">                     and BILL_TYPE     =  #{billType}        </if>
            <if test="startTime != null and startTime != ''">  and TRADE_TIME    &gt;= #{startTime}       </if>
            <if test="endTime != null and endTime != ''">      and TRADE_TIME    &lt;= #{endTime}         </if>
            <if test="payStatus != null or payStatus == 0">    and PAY_STATUS    =  #{payStatus}       </if>

            <if test="minPayMoney != null and minPayMoney != ''">  and TRADE_AMOUNT  &gt;= #{minPayMoney}     </if>
            <if test="maxPayMoney != null and maxPayMoney != ''">  and TRADE_AMOUNT  &lt;= #{maxPayMoney}     </if>
        </trim>
        ORDER BY TRADE_TIME DESC, BID DESC
    </select>

    <!--财务明细底部汇总信息统计-->
    <select id="getBillingsTotal" parameterType="com.xmopay.admincp.dto.BillingsDto" resultType="HashMap">
        select SUM(CASE WHEN PAY_STATUS=1 THEN TRADE_AMOUNT ELSE 0 END) AS TRADE_SUCCESS,COUNT(CASE WHEN PAY_STATUS=1 THEN 1 ELSE 0 END) AS SUCCESS_NUM
        FROM wp_billings
        <where>
            <if test="bid != null ">                           and BID           =  #{bid}             </if>
            <if test="orderSn != null and orderSn != ''">      and ORDER_SN      =  #{orderSn}         </if>
            <if test="billingSn != null and billingSn != ''">  and BILLING_SN    =  #{billingSn}       </if>
            <if test="partnerId != null and partnerId != ''">  and PARTNER_ID    =  #{partnerId}       </if>
            <if test="billType != null  ">                     and BILL_TYPE     =  #{billType}        </if>
            <if test="startTime != null and startTime != ''">  and TRADE_TIME    &gt;= #{startTime}       </if>
            <if test="endTime != null and endTime != ''">      and TRADE_TIME    &lt;= #{endTime}         </if>
            <if test="payStatus != null or payStatus == 0">    and PAY_STATUS    =  #{payStatus}       </if>
            <if test="minPayMoney != null and minPayMoney != ''">  and TRADE_AMOUNT  &gt;= #{minPayMoney}     </if>
            <if test="maxPayMoney != null and maxPayMoney != ''">  and TRADE_AMOUNT  &lt;= #{maxPayMoney}     </if>
        </where>
    </select>

    <select id="getBillingStaticsList" parameterType="map" resultType="HashMap">
        select
        <if test="type=='merchant'">b.PARTNER_ID,b.PARTNER_NAME,</if>
        <if test="type=='date'"> DATE_FORMAT(TRADE_TIME,'%Y-%m-%d') as CONFIRM_TIME,</if>
        <if test="splitPayment != null and splitPayment ==1">
            <!--网银在线充值-->
            SUM(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1001) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_BANK_RECHARGE,
            SUM(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1001) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_BANK_RECHARGE,
            COUNT(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1001) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_BANK_RECHARGE,
            <!--网银在线支付-->
            SUM(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_BANK_PAY,
            SUM(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_BANK_PAY,
            COUNT(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1000) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_BANK_PAY,
            <!--微信-->
            SUM(CASE WHEN (b.PAY_TYPE="WXPAY" and b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_WEIXIN_QRCODE,
            SUM(CASE WHEN (b.PAY_TYPE="WXPAY" and b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_WEIXIN_QRCODE,
            COUNT(CASE WHEN (b.PAY_TYPE="WXPAY"  and b.BILL_TYPE=1000) THEN b.`PAY_STATUS` END) AS TOTAL_TYPE_WEIXIN,
            <!--支付宝-->
            SUM(CASE WHEN (b.PAY_TYPE="ALIPAY"  and b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_ALIPAY_QRCODE,
            SUM(CASE WHEN (b.PAY_TYPE="ALIPAY"  and b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_ALIPAY_QRCODE,
            COUNT(CASE WHEN (b.PAY_TYPE="ALIPAY"  and b.BILL_TYPE=1000) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_ALIPAY,
            <!--快捷支付-->
            SUM(CASE WHEN (b.PAY_TYPE="QUICK_PAY"  and b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_QPAY_QRCODE,
            SUM(CASE WHEN (b.PAY_TYPE="QUICK_PAY"  and b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_QPAY_QRCODE,
            COUNT(CASE WHEN (b.PAY_TYPE="QUICK_PAY"  and b.BILL_TYPE=1000) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_QPAY,
            <!--QQ支付-->
            SUM(CASE WHEN (b.PAY_TYPE = "QQPAY"  and b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_QQPAY_QRCODE,
            SUM(CASE WHEN (b.PAY_TYPE = "QQPAY" and b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_QQPAY_QRCODE,
            COUNT(CASE WHEN (b.PAY_TYPE = "QQPAY"  and b.BILL_TYPE=1000) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_QQPAY_QRCODE,
        </if>
        <if test="splitPayment ==null">
            <!--在线支付-->
            SUM(CASE WHEN (b.BILL_TYPE=1001 or b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_ONLINE_PAY,
            SUM(CASE WHEN (b.BILL_TYPE=1001 or b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_ONLINE_PAY,
            COUNT(CASE WHEN (b.BILL_TYPE=1001 or b.BILL_TYPE=1000) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_ONLINE_PAY,
        </if>
        <!--商户转账（出）-->
        SUM(CASE WHEN  b.BILL_TYPE=2000 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_TRANS_FROM_ACCOUNT,
        SUM(CASE WHEN b.BILL_TYPE=2000 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_TRANS_FROM_ACCOUNT,
        COUNT(CASE WHEN b.BILL_TYPE=2000 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_TRANS_FROM_ACCOUNT,
        <!--商户转账（入）-->
        SUM(CASE WHEN  b.BILL_TYPE=2001 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_TRANS_TO_ACCOUNT,
        <!--SUM(CASE WHEN b.BILL_TYPE=2001 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_TRANS_TO_ACCOUNT,-->
        COUNT(CASE WHEN b.BILL_TYPE=2001 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_TRANS_TO_ACCOUNT,
        <!--交易退款-->
        SUM(CASE WHEN  b.BILL_TYPE=3000 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_REFUND_FROM_TRADE,
        SUM(CASE WHEN b.BILL_TYPE=3000 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_REFUND_FROM_TRADE,
        COUNT(CASE WHEN b.BILL_TYPE=3000 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_REFUND_FROM_TRADE,
        <!--代付出款-->
        SUM(CASE WHEN  b.BILL_TYPE=2002 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_TRANS_TO_CARD,
        SUM(CASE WHEN b.BILL_TYPE=2002 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_TRANS_TO_CARD,
        COUNT(CASE WHEN b.BILL_TYPE=2002 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_TRANS_TO_CARD,
        <!--代付退款-->
        SUM(CASE WHEN  b.BILL_TYPE=4000 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_REFUND_FROM_MENTION,
        SUM(CASE WHEN b.BILL_TYPE=4000 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_REFUND_FROM_MENTION,
        COUNT(CASE WHEN b.BILL_TYPE=4000 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_REFUND_FROM_MENTION,
        <!--调账加款-->
        SUM(CASE WHEN  b.BILL_TYPE=4001 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_ADJUST_ADD_TO_MERCHANT,
        <!--SUM(CASE WHEN b.BILL_TYPE=4001 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_ADJUST_ADD_TO_MERCHANT,-->
        COUNT(CASE WHEN b.BILL_TYPE=4001 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_ADJUST_ADD_TO_MERCHANT,
        <!--调账扣款-->
        SUM(CASE WHEN  b.BILL_TYPE=4002 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_ADJUST_SUB_FROM_MERCHANT,
        <!--SUM(CASE WHEN b.BILL_TYPE=4002 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_ADJUST_SUB_FROM_MERCHANT,-->
        COUNT(CASE WHEN b.BILL_TYPE=4002 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_ADJUST_SUB_FROM_MERCHANT,
        <!--冲正加款-->
        SUM(CASE WHEN  b.BILL_TYPE=5001 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_CORRECT_ADD_TO_MERCHANT,
        <!--SUM(CASE WHEN b.BILL_TYPE=5001 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_CORRECT_ADD_TO_MERCHANT,-->
        COUNT(CASE WHEN b.BILL_TYPE=5001 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_CORRECT_ADD_TO_MERCHANT,
        <!--冲正扣款-->
        SUM(CASE WHEN  b.BILL_TYPE=5002 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_CORRECT_SUB_FROM_MERCHANT,
        <!--SUM(CASE WHEN b.BILL_TYPE=5002 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_CORRECT_SUB_FROM_MERCHANT,-->
        COUNT(CASE WHEN b.BILL_TYPE=5002 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_CORRECT_SUB_FROM_MERCHANT
        FROM wp_billings b WHERE b.`PAY_STATUS`=1
        <if test="startTime != null and startTime != ''"> and TRADE_TIME&gt;= #{startTime} </if>
        <if test="endTime != null and endTime != ''"> and  TRADE_TIME &lt;= #{endTime} </if>
        <if test="partnerId != null and partnerId != ''"> and  b.PARTNER_ID in (${partnerId})</if>
        <if test="partnerName != null and partnerName != ''"> and  b.PARTNER_NAME LIKE '%${partnerName}%'</if>
        <if test="type=='merchant'"> GROUP BY b.PARTNER_ID desc </if>
        <if test="type=='date'"> GROUP BY DATE_FORMAT(TRADE_TIME,'%Y-%m-%d') DESC </if>
    </select>

    <!--财务报表底部信息汇总-->
    <select id="getBillingStaticsTotal" parameterType="map" resultType="HashMap">
        select
        <if test="splitPayment != null and splitPayment ==1">
            <!--网银在线充值-->
            SUM(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1001) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_BANK_RECHARGE,
            SUM(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1001) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_BANK_RECHARGE,
            COUNT(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1001) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_BANK_RECHARGE,
            <!--网银在线支付-->
            SUM(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_BANK_PAY,
            SUM(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_BANK_PAY,
            COUNT(CASE WHEN (b.PAY_TYPE = "BANK_PAY" and b.BILL_TYPE=1000) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_BANK_PAY,
            <!--微信-->
            SUM(CASE WHEN (b.PAY_TYPE="WXPAY" and b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_WEIXIN_QRCODE,
            SUM(CASE WHEN (b.PAY_TYPE="WXPAY" and b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_WEIXIN_QRCODE,
            COUNT(CASE WHEN (b.PAY_TYPE="WXPAY"  and b.BILL_TYPE=1000) THEN b.`PAY_STATUS` END) AS TOTAL_TYPE_WEIXIN,
            <!--支付宝-->
            SUM(CASE WHEN (b.PAY_TYPE="ALIPAY"  and b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_ALIPAY_QRCODE,
            SUM(CASE WHEN (b.PAY_TYPE="ALIPAY"  and b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_ALIPAY_QRCODE,
            COUNT(CASE WHEN (b.PAY_TYPE="ALIPAY"  and b.BILL_TYPE=1000) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_ALIPAY,
            <!--快捷支付-->
            SUM(CASE WHEN (b.PAY_TYPE="QUICK_PAY"  and b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_QPAY_QRCODE,
            SUM(CASE WHEN (b.PAY_TYPE="QUICK_PAY"  and b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_QPAY_QRCODE,
            COUNT(CASE WHEN (b.PAY_TYPE="QUICK_PAY"  and b.BILL_TYPE=1000) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_QPAY,
            <!--QQ支付-->
            SUM(CASE WHEN (b.PAY_TYPE = "QQPAY"  and b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_QQPAY_QRCODE,
            SUM(CASE WHEN (b.PAY_TYPE = "QQPAY" and b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_QQPAY_QRCODE,
            COUNT(CASE WHEN (b.PAY_TYPE = "QQPAY"  and b.BILL_TYPE=1000) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_QQPAY_QRCODE,
        </if>
        <if test="splitPayment ==null">
            <!--在线支付-->
            SUM(CASE WHEN (b.BILL_TYPE=1001 or b.BILL_TYPE=1000) THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_ONLINE_PAY,
            SUM(CASE WHEN (b.BILL_TYPE=1001 or b.BILL_TYPE=1000) THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_ONLINE_PAY,
            COUNT(CASE WHEN (b.BILL_TYPE=1001 or b.BILL_TYPE=1000) THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_ONLINE_PAY,
        </if>
        <!--商户转账（出）-->
        SUM(CASE WHEN  b.BILL_TYPE=2000 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_TRANS_FROM_ACCOUNT,
        SUM(CASE WHEN b.BILL_TYPE=2000 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_TRANS_FROM_ACCOUNT,
        COUNT(CASE WHEN b.BILL_TYPE=2000 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_TRANS_FROM_ACCOUNT,
        <!--商户转账（入）-->
        SUM(CASE WHEN  b.BILL_TYPE=2001 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_TRANS_TO_ACCOUNT,
        <!--SUM(CASE WHEN b.BILL_TYPE=2001 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_TRANS_TO_ACCOUNT,-->
        COUNT(CASE WHEN b.BILL_TYPE=2001 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_TRANS_TO_ACCOUNT,
        <!--交易退款-->
        SUM(CASE WHEN  b.BILL_TYPE=3000 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_REFUND_FROM_TRADE,
        SUM(CASE WHEN b.BILL_TYPE=3000 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_REFUND_FROM_TRADE,
        COUNT(CASE WHEN b.BILL_TYPE=3000 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_REFUND_FROM_TRADE,
        <!--代付出款-->
        SUM(CASE WHEN  b.BILL_TYPE=2002 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_TRANS_TO_CARD,
        SUM(CASE WHEN b.BILL_TYPE=2002 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_TRANS_TO_CARD,
        COUNT(CASE WHEN b.BILL_TYPE=2002 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_TRANS_TO_CARD,
        <!--代付退款-->
        SUM(CASE WHEN  b.BILL_TYPE=4000 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_REFUND_FROM_MENTION,
        SUM(CASE WHEN b.BILL_TYPE=4000 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_REFUND_FROM_MENTION,
        COUNT(CASE WHEN b.BILL_TYPE=4000 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_REFUND_FROM_MENTION,
        <!--调账加款-->
        SUM(CASE WHEN  b.BILL_TYPE=4001 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_ADJUST_ADD_TO_MERCHANT,
        <!--SUM(CASE WHEN b.BILL_TYPE=4001 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_ADJUST_ADD_TO_MERCHANT,-->
        COUNT(CASE WHEN b.BILL_TYPE=4001 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_ADJUST_ADD_TO_MERCHANT,
        <!--调账扣款-->
        SUM(CASE WHEN  b.BILL_TYPE=4002 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_ADJUST_SUB_FROM_MERCHANT,
        <!--SUM(CASE WHEN b.BILL_TYPE=4002 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_ADJUST_SUB_FROM_MERCHANT,-->
        COUNT(CASE WHEN b.BILL_TYPE=4002 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_ADJUST_SUB_FROM_MERCHANT,
        <!--冲正加款-->
        SUM(CASE WHEN  b.BILL_TYPE=5001 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_CORRECT_ADD_TO_MERCHANT,
        <!--SUM(CASE WHEN b.BILL_TYPE=5001 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_CORRECT_ADD_TO_MERCHANT,-->
        COUNT(CASE WHEN b.BILL_TYPE=5001 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_CORRECT_ADD_TO_MERCHANT,
        <!--冲正扣款-->
        SUM(CASE WHEN  b.BILL_TYPE=5002 THEN b.TRADE_AMOUNT ELSE 0 END) AS SUM_CORRECT_SUB_FROM_MERCHANT,
        <!--SUM(CASE WHEN b.BILL_TYPE=5002 THEN b.TRADE_FEE ELSE 0 END) AS SUM_FEE_CORRECT_SUB_FROM_MERCHANT,-->
        COUNT(CASE WHEN b.BILL_TYPE=5002 THEN b.`PAY_STATUS`  END) AS TOTAL_TYPE_CORRECT_SUB_FROM_MERCHANT
        FROM wp_billings b WHERE b.`PAY_STATUS`=1
        <if test="startTime != null and startTime != ''"> and TRADE_TIME&gt;= #{startTime} </if>
        <if test="endTime != null and endTime != ''"> and  TRADE_TIME &lt;= #{endTime} </if>
        <if test="partnerId != null and partnerId != ''"> and  b.PARTNER_ID in (${partnerId})</if>
    </select>

</mapper>




















